.navbar-expand-lg{
    background-color:#D9A1DE;
}

.navbar-collapse{
    justify-content: end;
}

h1{
    margin-left: 50px;
}

.navbar-nav{
    margin-right: 50px;
}

.contenedor{
    margin-left: 200px;
    margin-top: 60px;
    overflow: hidden;
}


.fotocarolina{
    float: left;
    margin-right: 10px;
}

.texto{
    overflow: hidden;
    margin-right: 200px;
}


.subtitulo{
    color: darkgreen;
}

.seccion{
    text-align: center;
    color: darkgreen;
}

.btn-primary{
    background-color: #D9A1DE;
    color: black;
    border-color: #D9A1DE;
}
.btn-primary:hover{
    background-color: darkgreen;
    border-color: darkgreen;
}


.linkdescarga{
    color: darkgreen;
}

.newsletter{
    text-align: center;
}

.image-container{
    position: relative;
}

.sesion{
    position:absolute;
    top: 55%;
    left: 21%;
    transform: translate(-50%, -50%);
    margin-left: 70px;
}

.gratis{
    position:absolute;
    margin-left: 800px;
    top: 320%;
    transform: translate(-50%, -50%);

}

.derechosreservados{
    text-align: center;
    color: darkgrey;
}

.inicio{
    margin-left: 10px;
}

.nav-item :hover{
    color: darkgreen;
    
}