.navbar-expand-lg{
    background-color:#D9A1DE;
}

.navbar-collapse{
    justify-content: end;
}

h1{
    margin-left: 50px;
}

.navbar-nav{
    margin-right: 50px;
}

.contenedor{
    margin-left: 200px;
    margin-top: 50px;
    overflow: hidden;
}


.fotocarolina{
    float: left;
    margin-right: 10px;
}

.text{
    overflow: hidden;
}